[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Kutedokashi/client-gateway.git
[submodule "product-ms"]
	path = product-ms
	url = https://github.com/Kutedokashi/product-microservice.git
[submodule "order-ms"]
	path = order-ms
	url = https://github.com/Kutedokashi/order-microservice.git
[submodule "payment-ms"]
	path = payment-ms
	url = https://github.com/Kutedokashi/payment-microservice.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Kutedokashi/authentication-microservice.git
